@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&display=swap");
.header__search:hover, .header__profile__menu:hover {
  -webkit-box-shadow: 2px 2px 6px 0px #ccc;
          box-shadow: 2px 2px 6px 0px #ccc;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

p {
  font-family: 'Cabin', sans-serif;
}

.grid--full {
  width: 100%;
}

.grid--large {
  max-width: 1140px;
  margin: 0 auto;
}

.header-box {
  -webkit-box-shadow: 4px 4px 10px 10px #f5f5f5;
          box-shadow: 4px 4px 10px 10px #f5f5f5;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 120px;
  height: auto;
}

.header__search {
  width: 290px;
  height: 2.875rem;
  margin-left: 12%;
  background-color: transparent;
  border: 1px solid #dddddd;
  border-radius: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
  font-size: 0.875rem;
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.header__search p {
  padding: 1rem;
}

.header__search img {
  width: 2rem;
  height: auto;
}

.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
}

.header__profile__host {
  font-size: 0.875rem;
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.6rem 1rem;
}

.header__profile__host:hover {
  background-color: #f5f5f5;
}

.header__profile__lang {
  width: 1.2rem;
  height: auto;
  cursor: pointer;
  border-radius: 1.4rem;
  padding: 0.8rem 1rem;
}

.header__profile__lang:hover {
  background-color: #f5f5f5;
}

.header__profile__menu {
  height: 2.625rem;
  width: 78px;
  background-color: transparent;
  border: 1px solid #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1.3rem;
  cursor: pointer;
}

.header__profile__menu img:first-child {
  width: 1.2rem;
  height: auto;
  padding-left: 0.5rem;
}

.header__profile__menu img:last-child {
  width: 1.875rem;
  height: auto;
}

.gallery__title {
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
  font-size: 1.625rem;
}

.gallery__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__information p {
  color: #838383;
  font-weight: 300;
  margin-right: 1rem;
}

.gallery__information__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__information__rating .star {
  width: 1rem;
  height: 1rem;
}

.gallery__information__rating .star img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.gallery__information__host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__information__host .medal {
  width: 1rem;
  height: 1rem;
}

.gallery__information__host .medal img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.gallery__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20rem;
  width: 100%;
  border-radius: 0.8rem;
  overflow: hidden;
}

.gallery__photos__main {
  width: 49.95%;
}

.gallery__photos__main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__photos__side {
  width: 49.95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gallery__photos__side img {
  width: 48%;
  height: 48.5%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}
/*# sourceMappingURL=app.css.map */