.header-box {
  box-shadow: 4px 4px 10px 10px #f5f5f5;
}

.header {
  display: flex;
  height: 5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 120px;
    height: auto;
  }

  &__search {
    width: 290px;
    height: 2.875rem;
    margin-left: 10%;
    background-color: transparent; 
    border: 1px solid $gray-light;
    border-radius: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
    font-size: 0.875rem;
    font-family: 'Cabin', sans-serif;
    font-weight: 500;

    p {
      padding: 1rem;
    }
    img {
      width: 2rem;
      height: auto;
    }
  }

  &__search:hover {
    @extend %box-shadow-button;
  }

  &__profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22%;

    &__host {
      font-size: 0.875rem;
      font-family: 'Cabin', sans-serif;
      font-weight: 500;
    }

    &__lang {
      width: 1.2rem;
      height: auto;
    }

    &__menu {
      height: 2.625rem;
      width: 78px;
      background-color: transparent;
      border: 1px solid $gray-light;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 1.3rem;

      img:first-child {
        width: 1.2rem;
        height: auto;
        padding-left: 0.5rem;
      }

      img:last-child {
        width: 1.875rem;
        height: auto;
      }
    }

    &__menu:hover {
      @extend %box-shadow-button;
    }
  }
}